/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/SKELY/input/
/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/MASKD/input/
/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/SCRBL/input/
/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/LABOR/input/
/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/CHESS/input/
/run/media/devesh/Hard Disk/Projects/AI Crowd Blitz 2/SCRBL/sub/

